* {
    margin: 0;
    padding: 0;
}

html {
    font-family: arial, sans-serif;
    font-size: 10px;
}

body {
    background-color: #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 20vh;
    height: 20vh;
    background-color: rgba(0, 0, 0, 1);
    border: 4px solid black;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    /* animation: blink 1s linear infinite; */
}

.cat {
    width: 100%;
    z-index: -1;
}

.btn {
    margin-left: 10vw;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: .6s;
}

.btn:hover {
    color: #ddd;
}

.reveal {
    background-color: rgba(0,0,0,0);
}

.btn2 {
    border: 2px solid red;
}

.btn3 {
    background-color: #272727;
    color: rgb(200,200,200)
}

.darkMode {
    background-color: grey;
}

.darkBtn {
    background-color: white;
}